/* TEMPORAIRE */

/* GLOBAL */
html {
    max-width: 1400px;
    /* le border est remporraire */
    border: 1px solid black;
    padding-left: 35px;
    padding-right: 25px;
    font-family: 'Raleway', sans-serif;
}

 html img {
    image-rendering: pixelated;
    
  }
  

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}



/* HEADER */



nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 20px;
}

nav img {
    width: 61px;
    

}

nav div a {
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 17px;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: #0065FC;
    border-top: 5px solid #0065FC;
    padding-top: 47px;
}

nav a:link {
    color: black;
}


#header_title h1, p {
    line-height: 75%;

}

#header_title h1 {
    font-size: 22px;
    padding-top: 30px;
}

#header_title p {
    font-size: 16px;
    margin-left: 4.1px;

}

header form {
    margin-top: 30px;

}

#search_bar {
    width: 200px;
    height: 45.5px;
    border: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 0px;
    right: 15px;
    padding-left: 10px;

}

#search_button {
    color: white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    height: 49px;
    font-weight: 550;
    padding-left: 15px;
    padding-right: 15px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    top: 0px;
    right: 30px;
    font-size: 16px;

}

#search i {

    border: 0px solid #F2F2F2;
    background-color: #F2F2F2;
    height: 32px;
    width: 30px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 16.5px;
    padding-bottom: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 17px;
    position: relative;
    top: 1.2px;

}



#filtered {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    max-width: 930px;
    padding-top: 30px;
    font-size: 14px;


}

#filtered a, p {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


#filtered a {
    border: 3px solid #D9D9D9;
    border-radius: 22px;
    padding: 10px 20px 10px 40px;

}

#filtered a:hover {

    background-color: #DEEBFF;

}

#filtered a:visited {
    color: black;
}

#a_money i {
    color: #0065FC;
    position: relative;
    top: 0;
    left: 35px;
}

#a_familly i {
    color: #0065FC;
    font-size: 18px;
    position: relative;
    top: 1.5px;
    left: 35px;

}

#a_romantic i {
    color: #0065FC;
    font-size: 18px;
    position: relative;
    top: 1.5px;
    left: 37px;
}

#a_animal i {
    color: #0065FC;
    font-size: 18px;
    position: relative;
    top: 1.6px;
    left: 37px;
}

#header_counter {

    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;

}

#header_counter i {
    color: #0065FC;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3.5px;
    padding-bottom: 6px;
    font-size: 11px;
    border: 1px solid #DEEBFF;
    border-radius: 45px;
}

#header_counter p {
    font-size: 16px;
    padding-left: 7px;
}

/* SECTION HERBEGEMENTS */

#hebergement {
    /* border: 2px solid black; */
    display: flex;
    height: 626px;
    width: 100%;
    border-radius: 12px;
    
}

#hebergement h2 {
    font-size: 22px;
    padding-left: 28px;
    padding-top: 20px;
    
}

#end_title a {
    text-decoration: none;
    color: black;
    
}

#room #end_title {
    padding-top: 38px;
    padding-left: 28px;
    font-size: 18px;
    font-weight: bold;

}


#room {
    background-color: #F2F2F2;
    /* border: 1px solid red; */
    border-radius: 22px;
    width: 880px;
    height: 626px;
    padding-left: auto;
    padding-right: auto;


}

#famous {
    /* border: 5px solid green; */
    margin-left: 40px;
    background-color: #F2F2F2;
    border-radius: 22px;
    width: 445px;
    height: 626px;
}

#famous_title {
    display: flex;
    align-items: baseline;
    justify-content:space-between;
}

#famous_title i {
    padding-right: 45px;
    color: #0065FC;
    font-size: 25px;
}

/* BLOCK 1 */

.block_1 {
    margin-top: 30px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-around;
    padding-left: 15px;

}




/* BLOCK 2 */

.block_2 {
    /* border: 2px solid orangered; */
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-left: 15px;

}

/* CARDS hebergement */

.card img {
   
    width: 238px;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 7px;
}
/* --------------------------------- */
/* CARD EFFECTS ZOOM (option) */

.card:hover {
    transform: scale(1.1);
}

.card-2:hover {
    transform: scale(1.1);
}

.card-3:hover {
    transform: scale(1.1);
}
/* ------------------------------ */


 .card .card_text {
    position: relative;
    top: -10px;
    left:0;
    line-height: 180%;
}


.card {
    background-color: white;
    border-radius: 20px;
    margin-right: 15px;
    width: 250px;
    height: 200px;
    box-shadow: 2px 3px 10px rgb(192, 192, 192);
    overflow: hidden;
    


}

.card h3 {
    font-size: 18px;
    
    
    
}

.card p {
    font-size: 14px;
    
}

.card a {
    text-decoration: none;
   

}

.card p,
h3 {
    color: black;
    text-align: left;
    padding-left: 15px;
}

.card p,
h3,
i {
    line-height: 40%;
}

.card i {
    font-size: 13px;
    color: #0065FC;
    position: relative;
    top: -4px;
    left: 7.5px;

}

#grey_star {
    color: #F2F2F2;
}

/* CARDS famous */

.card-2 {
    
   padding-top: 15px;
   padding-bottom: 11px;
    margin-left: 50px;
    margin-right: 40px;
    
  
    
}

.card-2 p {
    position: relative;
    top: -8.5px;
}

 #famous h2 {
    font-size: 22px;
    padding-left: 50px;

}
.card-2 img {
    width: 135px;
    height: 133px;
    padding: 7px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-2 a {
    display: flex;
    border-radius: 20px;
    background-color: white;
    width: 355px;
    height: 147px;
    box-shadow:2px 3px 10px rgb(192 192 192) ;
    text-decoration: none;
    
    
    
}

.card-2 i {
    color: #0065FC;
   position: relative;
   top: 18px;
   left: 7px;
   font-size: 13px!important;

    
}

#pos-star-soleil{
    position: relative;
    top: -25px;
}

#pos-star-coeur i{
    position: relative;
    top: 4px;
    
}
    
#famous .card-2 p {
    padding-left: 18px;
    color: black;
    font-size: 14px;
}

#famous .card-2 h3 {
    font-size: 18px;
    line-height: 150%;
}

#famous .card-2 i {
    font-size: 12px;
}

/* ACTIVITY */

#activity {
   
    
    margin-top: 60px;
    border-radius: 20px;
    /* background-color: #F2F2F2; */
    height: 493px;
    margin-right: 20px;
    


}

#activity h2 {
    padding-bottom: 10px;
    padding-left: 2px;
    font-size: 22px;
    
    
}

.card-3 {
    /* border: 1px solid black; */
    border-radius: 20px;
    background-color: white;
    width: 300px;
    height: 436px;
    box-shadow: 2px 3px 10px rgb(192, 192, 192);
    overflow: hidden;
    

   
}

.card-3 img {
    width: 345px;
    height: 375px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.card-3 a {
    text-decoration: none;
    font-size: 14px;
}

.card-3 a h3 {
    padding-top: 6px;
    font-size: 18px;
    
}

#container-card-3 {
    display: flex;
    justify-content: space-between;
}

/* FOOTER */

footer {
    margin-top: 60px; 
    display: flex;
    justify-content: space-between;
    line-height: 190%;
    background-color: #F2F2F2;
    max-width: 100%;
    margin-right: 18px;
    height: 222px;
}

footer h4 {
 padding-left:38.5px ;
 margin-bottom: 0px;
 position: relative;
 top: 10px;
 font-size: 18px;
}

footer div {
    padding-right: 260px;
    
    
    
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul li {
    list-style-type: none;
    font-size: 16px;
}

#container-hebergement {
    position: relative;
    top: 0;
    right: 55px;
}

#container-assistance {
    position: relative;
    top: 0;
    right: 85px;
}


/* REGLAGE ZOOM IMAGE */

#amina {
    overflow: hidden;
    margin: 6px 4px 30px 6px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 238px;
    height: 110px;
    
  }
  
  .amina-img {
    width: 208px!important;
    height: 250px!important;
    transform: scale(1.2);
    object-position:7px -60px; 
    
  }

  #hotel-mer {
    overflow: hidden;
    margin: 6px 4px 30px 6px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    width: 238px;
    height: 110px;
  }

  .hotel-mer-img {
      width: 100%;
      height: 210px!important;
      transform: scale(1.1);
      object-position:-3px -53px ;
    }


